<div class="row mb-5">
  <div class="col-8 shadow-lg p-0 bg-white">
      <div class="card">
        <div class="card-header">
          <h3>List your property</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)='onSubmit()' [formGroup]="addPropertyForm">
            <div class="tab-panel">
              <tabset class="member-tabset" #formTabs>
                <!-- /////////////////////////////////////// -->
                <!-- Basic Information tab -->
                <!-- /////////////////////////////////// -->
                <tab heading="Basic Info" formGroupName="BasicInfo">
                  <div class="form-group col-12">
                    <p>I want to :</p>
                    <div class="btn-group" btnRadioGroup  formControlName="SellRent">
                      <label class="btn btn-outline-primary mr-2" btnRadio=1 role="button" name="SellRent">Sell</label>

                      <label class="btn btn-outline-primary" btnRadio=2 role="button" name="SellRent">Rent</label>
                    </div>
                    <div class="error-block" *ngIf="SellRent.invalid && NextClicked">
                      Please Select sell or rent
                    </div>
                  </div>

                  <div class="form-group col-12">
                    <p>Select BHK :</p>
                    <div class="btn-group" btnRadioGroup
                    [(ngModel)]="propertyView.BHK" name="bhk" formControlName="BHK">
                      <label *ngFor="let bhk of['1 RK','1 BHK','2 BHK','3 BHK']"
                              class="btn btn-outline-primary mr-2" [btnRadio]="bhk" tabindex="0" role="button"
                              name="BHK"
                              >{{bhk}}</label>
                    </div>
                    <div class="error-block" *ngIf="BHK.invalid && NextClicked">
                      Please select BHK
                    </div>
                  </div>

                  <div class="form-group col-12">
                    <p>Property Type :</p>
                    <div class="btn-group" btnRadioGroup formControlName="PType"
                    [(ngModel)]="propertyView.PType">
                      <label *ngFor="let ptype of propertyType"
                              class="btn btn-outline-primary mr-2" [btnRadio]="ptype" tabindex="0" role="button"
                              name="ptype">{{ptype}}</label>
                    </div>
                    <div class="error-block" *ngIf="PType.invalid && NextClicked">
                      Please select property type
                    </div>
                  </div>

                  <div class="form-group col-12">
                    <p>Furnishing Type :</p>
                    <div class="btn-group" btnRadioGroup name='FType' [(ngModel)]="propertyView.FType"
                    formControlName="FType">
                      <label *ngFor="let furnish of furnishType"
                              class="btn btn-outline-primary mr-2" [btnRadio]="furnish" tabindex="0" role="button"
                              name="ftype"
                              >{{furnish}}</label>
                    </div>
                    <div class="error-block" *ngIf="FType.invalid && NextClicked">
                      Please select furnishing type
                    </div>
                  </div>

                  <div class="form-group col-12">
                    <label>in Building/Apartment/Society </label>
                    <input type="text" class="form-control" minlength="5"
                    formControlName="Name"
                    [(ngModel)]="propertyView.Name">
                    <div class="error-block"
                    *ngIf="Name.invalid && (NextClicked || Name.touched)">
                      Please select building, society or project name
                    </div>
                  </div>

                  <div class="form-group col-12">
                    <label>City :</label>
                    <input type="text" class="form-control" [(ngModel)]="propertyView.City"
                     formControlName="City">
                     <div class="error-block"
                  *ngIf="City.invalid && (NextClicked || City.touched)">
                    Please select city
                  </div>
                  </div>

                  <div class="form-group col-12">
                    <button type="button" class="btn btn-success btn-block" (click)="selectTab(1, BasicInfo.valid)">Next</button>
                  </div>
                </tab>
                <!-- ////////////////////////////////////// -->
                <!-- Pricing And Area Tab -->
                <!-- //////////////////////////////////////// -->
                <tab heading="Pricing And Area" formGroupName="PriceInfo">

                  <div class="form-group col-12">
                    <label *ngIf="SellRent.value==1">Price (in USD)</label>
                    <label *ngIf="SellRent.value==2">Rent (in USD)</label>
                    <input type="text" class="form-control"
                    formControlName="Price"
                    [(ngModel)]="propertyView.Price">
                    <div class="error-block"
                    *ngIf="Price.invalid && (NextClicked || Price.touched)">
                      Please select
                      <span *ngIf="SellRent.value==1;else ShowRent">price</span>
                      <ng-template #ShowRent>rent</ng-template>
                    </div>
                  </div>

                  <div class="form-group col-12">
                    <label>Security (in INR)</label>
                    <input type="text" class="form-control" formControlName="Security">
                  </div>

                  <div class="form-group col-12">
                    <label>Maintenance (in INR)</label>
                    <input type="text" class="form-control" formControlName="Maintenance">
                  </div>

                  <div class="form-group col-12">
                    <label>Built Area (in Sqr Feet)</label>
                    <input type="text" class="form-control"
                     [(ngModel)]="propertyView.BuiltArea" formControlName="BuiltArea">
                     <div class="error-block"
                    *ngIf="BuiltArea.invalid && NextClicked">
                      Please select built up area
                    </div>
                  </div>

                  <div class="form-group col-12">
                    <label>Carpet Area(in Sqr Feet)</label>
                    <input type="text" class="form-control"  formControlName="CarpetArea">
                  </div>
                  <button type="button" class="btn btn-success btn-block" (click)="selectTab(2, PriceInfo.valid)">Next</button>
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(0, PriceInfo.valid)">Back</button>

                </tab>
                <!-- /////////////////////////// -->
                <!-- Address Tab -->
                <!-- ////////////////////////// -->
                <tab heading="Address" formGroupName="AddressInfo">
                  <div class="form-group col-12">
                    <label>Floor</label>
                    <input type="text" class="form-control" formControlName="FloorNo">
                  </div>

                  <div class="form-group col-12">
                    <label>Total Floor</label>
                    <input type="text" class="form-control" formControlName="TotalFloor">
                  </div>

                  <div class="form-group col-12">
                    <label>Address</label>
                    <input type="text" class="form-control" formControlName="Address">
                    <div class="error-block"
                    *ngIf="Address.invalid && (NextClicked || Address.touched)">
                      Please select address
                    </div>
                  </div>

                  <div class="form-group col-12">
                    <label>Landmark</label>
                    <input type="text" class="form-control"  formControlName="LandMark">
                  </div>

                  <button type="button" class="btn btn-success btn-block" (click)="selectTab(3, AddressInfo.valid)">Next</button>
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(1, AddressInfo.valid)">Back</button>

                </tab>
                <!-- ///////////////////////// -->
                <!-- Other details Tab -->
                <!-- /////////////////////////// -->
                <tab heading="Other Details" formGroupName="OtherInfo">
                  <div class="form-group col-12">
                    <p>Ready to Move :</p>
                    <div class="btn-group" btnRadioGroup formControlName="RTM">
                      <label class="btn btn-outline-primary mr-2" btnRadio=1 tabindex="0" role="button" name="ready">Yes</label>

                      <label class="btn btn-outline-primary" btnRadio=2 tabindex="0" role="button" name="ready">No</label>
                    </div>
                    <div class="error-block" *ngIf="RTM.invalid && NextClicked">
                      Please select ready to move
                    </div>
                  </div>

                  <div
                  *ngIf="RTM.value==2"
                  class="form-group col-6">
                    <label>Possession/Avaialble From</label>
                    <input type="text"
                    class="form-control"
                    formControlName="PossessionOn"
                    bsDatepicker
                    [bsConfig]="{containerClass: 'theme-dark-blue',
                    dateInputFormat: 'DD-MM-YYYY'}">
                  </div>

                  <div
                  *ngIf="RTM.value==1"
                  class="form-group col-3">
                    <label>Age of Property</label>
                    <input type="text"
                    formControlName="AOP"
                    class="form-control">
                  </div>

                  <div class="form-group col-12">
                    <p>Gated Community :</p>
                    <div class="btn-group" btnRadioGroup formControlName="Gated">
                      <label class="btn btn-outline-primary mr-2" btnRadio=1 tabindex="0"
                       role="button" name="Gate">Yes</label>

                      <label class="btn btn-outline-primary" btnRadio=2 tabindex="0"
                       role="button" name="Gate">No</label>
                    </div>
                  </div>

                  <div class="form-group col-12">
                    <p>Main Entrance</p>
                    <div class="btn-group" btnRadioGroup
                    formControlName="MainEntrance">
                      <label class="btn btn-outline-primary mr-2"
                      btnRadio=1 tabindex="0" role="button" name="Entrance">East</label>
                      <label class="btn btn-outline-primary"
                      btnRadio=2  tabindex="0" role="button" name="Entrance">West</label>
                      <label class="btn btn-outline-primary"
                      btnRadio=3  tabindex="0" role="button" name="Entrance">South</label>
                      <label class="btn btn-outline-primary"
                      btnRadio=4  tabindex="0" role="button" name="Entrance">North</label>
                    </div>
                  </div>

                  <div class="form-group col-12">
                    <label>Description</label>
                    <textarea type="text"
                    class="form-control"
                    formControlName="Description"
                    rows="6"></textarea>
                  </div>

                  <button type="button" class="btn btn-success btn-block" (click)="selectTab(4, OtherInfo.valid)">Next</button>
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(2, OtherInfo.valid)">Back</button>

                </tab>

                <!-- ///////////////////////////// -->
                <!-- Photes Tab -->
                <!-- //////////////////// -->

                <tab heading="Photos">
                  <div class="form-group col-12">
                    <div class="photo-control">
                        <button class="mt-5" type="button">Upload</button> <br>
                        This is under construction
                    </div>
                  </div>
                  <div class="form-group col-12">
                    <button type="button" class="btn btn-primary btn-block"
                    (click)="selectTab(3, true)">Back</button>
                    <button type="submit" class="btn btn-primary btn-block">Save</button>
                    <button type="reset" class="btn btn-primary btn-block">Cancel</button>
                  </div>
                </tab>
              </tabset>
            </div>
          </form>
        </div>
      </div>
  </div>
  <div class="col-4">
    <div class="card-header">
      <h3>Preview</h3>
    </div>
    <div class="shadow-lg p-3 bg-white">
      <app-property-card [property]="propertyView" hideIcons="true"></app-property-card>
    </div>
  </div>
</div>
